- name: Install python3
  apt:
    pkg:
    - python3
    - python3-virtualenv
    - python3-dev
    - virtualenv
    state: present
    update_cache: true

- name: Install python-pip
  apt:
    pkg:
    - python3-pip
    - curl
    state: present
    update_cache: true